{
  "useTabs": true,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "printWidth": 100,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false,
  "astro/parser": "prettier-plugin-astro",
  "prettier.documentSelectors": " **/*.astro",
  "[astro]": {
    "editor.defaultFormatter": " esbenp.prettier-vscode "
  }
}
