---
import Icon from "astro-icon";

const githubUrl = "https://github.com/Tim0124";
const linkedinUrl = "https://www.linkedin.com/in/shih-cheng-kao-115060117/";
---
<!-- footer section -->
<footer class="w-full flex flex-col justify-center items-center text-center border-t-[1px] border-t-steelBlueGray/30 lg:flex-row">
  <div class="w-fit flex flex-1 text-xs justify-center items-center gap-2 sm:text-sm md:justify-start lg:ml-5">
    <p class="text-sm font-bold text-center text-slateBlue dark:text-creamyWhite">
      Find Me On
    </p>
    <a
      href={githubUrl}
      target="_blank"
      aria-label="link to github page"
      class="flex justify-start items-center gap-1 border-l-2 border-l-steelBlueGray my-1 px-1 transition-all duration-150 hover:text-slateBlue dark:hover:text-creamyWhite"
    >
      <Icon name="github" class="w-6 p-1" />
      <span>Github</span>
    </a>
    <a
      href={linkedinUrl}
      target="_blank"
      aria-label="link to linkedin page"
      class="flex justify-start items-center gap-1 border-l-2 border-l-steelBlueGray my-1 px-1 transition-all duration-150 hover:text-slateBlue dark:hover:text-creamyWhite"
    >
      <Icon name="linkedin" class="w-6 p-1" />
      <span>Linkedin</span>
    </a>
    <a
      href="mailto: a0925172969@gmail.com"
      target="_blank"
      aria-label="link to gmail"
      class="flex justify-start items-center gap-1 border-l-2 border-l-steelBlueGray my-1 px-1 transition-all duration-150 hover:text-slateBlue dark:hover:text-creamyWhite"
    >
      <Icon name="gmail" class="w-6 p-1" />
      <span>Gmail</span>
    </a>
  </div>
  <!-- copyright -->
  <small class="lg:mr-5">
    <span class="text-md">&copy;</span>
    <span>2023</span> 
    Tim Kao | All rights reserved.
  </small>
</footer>