---
import Icon from "astro-icon";
import NavLink from "./NavLink.astro";
import ThemeToggle from "./ThemeToggle.astro"
import { navData } from "../../src/data/navData"

---

<!--  navbar -->
<nav
  id="content-top"
  class=" flex justify-between p-5 top-0 sticky w-full z-20 border-b-[1px] border-steelBlueGray/30 transition-all ease-out duration-300 bg-creamyWhite text-steelBlueGray sm:relative sm:border-0 lg:max-w-screen-xl dark:bg-nightBlue dark:text-lightGray select-none"
  >
  <!--  navbar logo section -->
  <a href="/" class="group flex justify-center content-end gap-2 w-50 h-10" aria-labelledby="site-title">
    <Icon name="logo-icon" class=" w-8 text-steelBlueGray dark:text-lightGray group-hover:text-slateBlue dark:group-hover:text-creamyWhite" aria-hidden="true"/>
    <h1 id="site-title" class="hidden leading-10 text-xl font-bold text-steelBlueGray dark:text-lightGray md:block group-hover:text-slateBlue dark:group-hover:text-creamyWhite">Tim's dev.</h1>
  </a>
  <!-- mobile menu style switch -->
  <input
    id="input-toggle"
    type="checkbox"
    class="group peer input-toggle absolute right-0 top-1 w-8 h-8 cursor-pointer opacity-0 -z-20 pointer-events-none sm:hidden hover:text-slateBlue"
    aria-label="navigation bar switch"
  />
  <!-- nav items -->
  <ul
    id="menu-list"
    class="menu-list hidden flex-col w-full justify-center pb-5 px-5 gap-5 absolute top-20 left-1/2 transform -translate-x-1/2 shadow-md transition-all ease-out duration-300 bg-creamyWhite sm:flex sm:flex-row sm:w-auto sm:top-5 sm:leading-10 sm:shadow-none sm:p-0  dark:shadow-regal-blue dark:bg-nightBlue"
  >
    {
      navData.map((item) => (
        <li class="w-full flex justify-center items-center leading-10 text-steelBlueGray dark:text-lightGray">
          <NavLink text={item.text} href={item.path} iconName={item.iconName} />
        </li>
      ))
    }
  </ul>
  <!-- right side theme toggle -->
  <div class="navRightSide flex justify-center items-center gap-4">
    <ThemeToggle />
    <!-- mobile menu switch -->
    <label for="input-toggle" id="hamburger-menu" class="group flex items-center justify-center w-fit cursor-pointer sm:hidden" aira-label="mobile menu">
      <div class="hamburger" >
        <span class=" duration-300 ease-out bg-steelBlueGray group-hover:bg-slateBlue dark:group-hover:bg-creamyWhite dark:bg-lightGray"></span>
        <span class="duration-300 ease-out bg-steelBlueGray group-hover:bg-slateBlue dark:group-hover:bg-creamyWhite dark:bg-lightGray"></span>
        <span class="duration-300 ease-out group-hover:bg-slateBlue bg-steelBlueGray dark:group-hover:bg-creamyWhite dark:bg-lightGray"></span>
      </div>
    </label>
  </div>
</nav>

<!-- hidden navbar script -->
<script>
  const nav = document.body.classList;
  let scrollY = 0;

  function handleScroll() {
    let startPoint = window.scrollY;

    if (startPoint < scrollY) {
      nav.remove("navbar");
    } else {
      nav.add("navbar");
    }
    scrollY = startPoint;
  }

  window.addEventListener('scroll', handleScroll)

</script>
<script is:inline>
  const hamburgerMenu = document.getElementById('hamburger-menu')
  const menu = document.getElementById('menu-list')

  hamburgerMenu.addEventListener('click', function() {
    menu.classList.toggle('hidden')
    menu.classList.toggle('show-nav-item')
  })
</script>