---
import { Icon } from "astro-icon";

const { prevUrl, nextUrl } = Astro.props;
---
<!-- blog page pagination -->
<nav class="mx-auto w-full flex justify-center items-center gap-5 text-steelBlueGray dark:text-creamyWhite" > 
  <!-- previous link -->
{
  prevUrl ? (
    <a href={prevUrl} class="flex flex-row-reverse items-center w-fit transition-all duration-300 ease-out hover:text-slateBlue hover:-translate-x-1 dark:text-lightGray dark:hover:text-creamyWhite">
      <span class="font-bold">Previous</span>
      <Icon name="ArrowLeft" class="w-8 cursor-pointer" />
    </a>
  ) : 
  (
    <span class="flex flex-row-reverse items-center w-fit text-steelBlueGray/50 select-none">
      <span class="font-bold">Previous</span>
      <Icon name="ArrowLeft" class="w-8" />
    </span>
  )
}
<!-- next link -->
{
  nextUrl ? (
    <a href={nextUrl} class="flex items-center w-fit transition-all duration-300 ease-out hover:text-slateBlue hover:translate-x-1 dark:text-lightGray dark:hover:text-creamyWhite">
      <span class="font-bold">Next</span>
      <Icon name="ArrowRight" class="w-8 cursor-pointer" />
    </a>
  ) : 
  (
    <span class="flex flex-row items-center w-fit text-steelBlueGray/50 select-none">
      <span class="font-bold">Next</span>
      <Icon name="ArrowRight" class="w-8 " />
    </span>
  )
}
</nav>
