---

//utils imports
import { slugify, formatDate } from "../utils/utils";

interface FrontmatterProps {
  title: string
  date: string
  category: string
  author: string
  description: string
  draft: boolean
}

interface PostProps {
  frontmatter: FrontmatterProps
  url: string
  tagType: string
}

const { relatedPosts } = Astro.props
---
<!-- blog post related post -->
{
  relatedPosts.map((post:PostProps) =>(
    <div class="group p-2 my-2">
      <a href={post.url} class="transition-all duration-300 ease-out group-hover:text-slateBlue dark:group-hover:text-creamyWhite">
        <h4 class="font-bold ">{post.frontmatter.title}</h4>
          <p class="text-sm">{formatDate(post.frontmatter.date)}</p>  
          <p class="text-sm">{post.frontmatter.description}</p> 
      </a>
    </div>
  ))
}