---
import Icon from 'astro-icon';
---
<!-- scroll down button -->
<button
  id="scroll-down"
  class="w-full h-14 mx-auto opacity-80 animate-bounce select-none hover:opacity-100"
  aria-label="Scroll to Content"
>
  <Icon name="scroll-down-icon" class="w-14 mx-auto"/>
</button>

<script is:inline>
  const scrolldonwBtn = document.getElementById('scroll-down')
  function scrollDown() {
    const element = document.getElementById('content-wrapper');
    element?.scrollIntoView({
      behavior: 'smooth',
      block: 'start',
      inline: 'nearest',
    });
  }
  scrolldonwBtn.addEventListener('click', scrollDown)
</script>