---
import { Icon } from "astro-icon";
---
<!-- theme toggle button -->
<button
  id="theme-toggle"
  class="relative cursor-pointer"
>
  <Icon
    id="theme-toggle-light-icon"
    name="light-theme-icon"
    class="w-8 hidden hover:text-creamyWhite transform hover:-rotate-45 transition duration-300 ease-out"
  />
  <Icon
    id="theme-toggle-dark-icon"
    name="dark-theme-icon"
    class="w-7 hidden rotate-12 hover:text-slateBlue transform hover:-rotate-12 transition duration-300 ease-out"
  />
</button>

<script is:inline>
  let themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
let themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');

function setTheme() {
    if (localStorage.getItem('color-theme')) {
        document.documentElement.classList[localStorage.getItem('color-theme') === 'dark' ? 'add' : 'remove']('dark');
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.classList.add('dark');
    } else {
        document.documentElement.classList.remove('dark');
    }
    
   
    if (document.documentElement.classList.contains('dark')) {
        themeToggleLightIcon.classList.remove('hidden');
        themeToggleDarkIcon.classList.add('hidden');
    } else {
        themeToggleDarkIcon.classList.remove('hidden');
        themeToggleLightIcon.classList.add('hidden');
    }
}

window.addEventListener('DOMContentLoaded', setTheme)

let themeToggleBtn = document.getElementById('theme-toggle');
themeToggleBtn.addEventListener('click', function() {
    if (document.documentElement.classList.contains('dark')) {
        document.documentElement.classList.remove('dark');
        localStorage.setItem('color-theme', 'light');
    } else {
        document.documentElement.classList.add('dark');
        localStorage.setItem('color-theme', 'dark');
    }
    setTheme()
})

window.matchMedia('(prefers-color-scheme: dark)').addEventListener(setTheme);
document.addEventListener('astro:after-swap',setTheme)
</script>